In [2]:
import pandas as pd

import json

Classification Reports
* task: pull dictionary of measures into rows for each turbine
* issue: stored as string dictionaries, convert to actual dictionaries (use json.loads()) => resolved
* issue: how to incorporate with avgs? => resolved: seperate tables

In [23]:
class_df = pd.read_csv("Dataframes/classification_reports.csv")

In [3]:
class_df

,Unnamed: 0,T11,T06,T07,T01
0,0,"{'pre': 0.9949730931588954, 'rec': 0.814309826...","{'pre': 0.9939773264052905, 'rec': 0.853845958...","{'pre': 0.9923729071074782, 'rec': 0.836805288...","{'pre': 0.9900071599788314, 'rec': 0.839346512..."
1,1,"{'pre': 0.37038361799159436, 'rec': 0.96370404...","{'pre': 0.3771749702799092, 'rec': 0.944775311...","{'pre': 0.34088792300527787, 'rec': 0.92919605...","{'pre': 0.4383131863061733, 'rec': 0.936698875..."
2,avg_pre,0.9313838008462874,0.9411432880626317,0.9381233001206724,0.9248851827792492
3,avg_rec,0.8295196134167141,0.8616347826086956,0.8444987315606501,0.8508379888268156
4,avg_spe,0.9484942614455288,0.9369864874703608,0.921502607861412,0.9252073993148494
5,avg_f1,0.8589176939147293,0.8860929076539683,0.8739006235978432,0.8717282649659045
6,avg_geo,0.8858632379856223,0.8981606657532422,0.8817914546412976,0.8866876194587252
7,avg_iba,0.7754170971702993,0.8006140153747316,0.7715686855692748,0.7803679003818054
8,total_support,42216,43125,42572,42960

In [4]:
export_df = class_df.drop(labels=[0,1])

In [72]:
export_df.to_csv("Dataframes/avg_classification_reports.csv")

process for first turbine

In [5]:
T11_0 = class_df.iat[0,2]

In [6]:
T11_0

"{'pre': 0.9939773264052905, 'rec': 0.8538459587634095, 'spe': 0.944775311315647, 'f1': 0.9185981474155218, 'geo': 0.8981606657532423, 'iba': 0.7993573780918013, 'sup': 39431}"

In [7]:
T11_0 = str(T11_0).replace("'", '"')

In [8]:
T11_0

'{"pre": 0.9939773264052905, "rec": 0.8538459587634095, "spe": 0.944775311315647, "f1": 0.9185981474155218, "geo": 0.8981606657532423, "iba": 0.7993573780918013, "sup": 39431}'

In [9]:
T11_0_dict = json.loads(T11_0)

In [10]:
T11_0_dict

{'pre': 0.9939773264052905,
 'rec': 0.8538459587634095,
 'spe': 0.944775311315647,
 'f1': 0.9185981474155218,
 'geo': 0.8981606657532423,
 'iba': 0.7993573780918013,
 'sup': 39431}

In [12]:
T11_df_0 = pd.DataFrame.from_dict(data=T11_0_dict,orient="index")

In [13]:
T11_df_0

                0
pre      0.993977
rec      0.853846
spe      0.944775
f1       0.918598
geo      0.898161
iba      0.799357
sup  39431.000000

In [15]:
#T11 1 

T11_class = class_df.iat[1,2]
T11_class = str(T11_class).replace("'", '"')
T11_dict = json.loads(T11_class)
T11_df_1 = pd.DataFrame.from_dict(data=T11_dict,orient="index")

In [17]:
T11_df_1

               0
pre     0.377175
rec     0.944775
spe     0.853846
f1      0.539121
geo     0.898161
iba     0.814028
sup  3694.000000

In [19]:
T11_df_1.rename(mapper={0:1}, axis=1,inplace=True)

In [20]:
T11_df_1

               1
pre     0.377175
rec     0.944775
spe     0.853846
f1      0.539121
geo     0.898161
iba     0.814028
sup  3694.000000

In [22]:
T11_df = T11_df_0.join(T11_df_1)

In [25]:
T11_df.rename(mapper={0:"T11_nofault", 1:"T11_fault"}, axis=1,inplace=True)

In [26]:
T11_df

      T11_nofault    T11_fault
pre      0.993977     0.377175
rec      0.853846     0.944775
spe      0.944775     0.853846
f1       0.918598     0.539121
geo      0.898161     0.898161
iba      0.799357     0.814028
sup  39431.000000  3694.000000

mock function

In [ ]:
# def clean():

repeat for remaining turbines

In [30]:
#T06 0

T06_0 = class_df.iat[0,2]

T06_0 = str(T06_0).replace("'", '"')

T06_0_dict = json.loads(T06_0)

T06_df_0 = pd.DataFrame.from_dict(data=T06_0_dict,orient="index")

#T06 1 

T06_class = class_df.iat[1,2]
T06_class = str(T06_class).replace("'", '"')
T06_dict = json.loads(T06_class)
T06_df_1 = pd.DataFrame.from_dict(data=T06_dict,orient="index")
T06_df_1.rename(mapper={0:1}, axis=1,inplace=True)

#join 
T06_df = T06_df_0.join(T06_df_1)
T06_df.rename(mapper={0:"T06_nofault", 1:"T06_fault"}, axis=1,inplace=True)
T06_df

      T06_nofault    T06_fault
pre      0.993977     0.377175
rec      0.853846     0.944775
spe      0.944775     0.853846
f1       0.918598     0.539121
geo      0.898161     0.898161
iba      0.799357     0.814028
sup  39431.000000  3694.000000

In [31]:
#T07 0

T07_0 = class_df.iat[0,3]

T07_0 = str(T07_0).replace("'", '"')

T07_0_dict = json.loads(T07_0)

T07_df_0 = pd.DataFrame.from_dict(data=T07_0_dict,orient="index")

#T07 1 

T07_class = class_df.iat[1,3]
T07_class = str(T07_class).replace("'", '"')
T07_dict = json.loads(T07_class)
T07_df_1 = pd.DataFrame.from_dict(data=T07_dict,orient="index")
T07_df_1.rename(mapper={0:1}, axis=1,inplace=True)

#join 
T07_df = T07_df_0.join(T07_df_1)
T07_df.rename(mapper={0:"T07_nofault", 1:"T07_fault"}, axis=1,inplace=True)
T07_df

      T07_nofault    T07_fault
pre      0.992373     0.340888
rec      0.836805     0.929196
spe      0.929196     0.836805
f1       0.907974     0.498789
geo      0.881791     0.881791
iba      0.770372     0.784740
sup  39027.000000  3545.000000

In [32]:
#T01 0

T01_0 = class_df.iat[0,4]

T01_0 = str(T01_0).replace("'", '"')

T01_0_dict = json.loads(T01_0)

T01_df_0 = pd.DataFrame.from_dict(data=T01_0_dict,orient="index")

#T01 1 

T01_class = class_df.iat[1,4]
T01_class = str(T01_class).replace("'", '"')
T01_dict = json.loads(T01_class)
T01_df_1 = pd.DataFrame.from_dict(data=T01_dict,orient="index")
T01_df_1.rename(mapper={0:1}, axis=1,inplace=True)

#join 
T01_df = T01_df_0.join(T01_df_1)
T01_df.rename(mapper={0:"T01_nofault", 1:"T01_fault"}, axis=1,inplace=True)
T01_df

      T01_nofault    T01_fault
pre      0.990007     0.438313
rec      0.839347     0.936699
spe      0.936699     0.839347
f1       0.908473     0.597184
geo      0.886688     0.886688
iba      0.778561     0.793869
sup  37889.000000  5071.000000

join all

In [33]:
df = T11_df.join([T07_df, T06_df, T01_df])

In [24]:
class_df

,Unnamed: 0,T11,T06,T07,T01
0,0,"{'pre': 0.9949730931588954, 'rec': 0.814309826...","{'pre': 0.9939773264052905, 'rec': 0.853845958...","{'pre': 0.9923729071074782, 'rec': 0.836805288...","{'pre': 0.9900071599788314, 'rec': 0.839346512..."
1,1,"{'pre': 0.37038361799159436, 'rec': 0.96370404...","{'pre': 0.3771749702799092, 'rec': 0.944775311...","{'pre': 0.34088792300527787, 'rec': 0.92919605...","{'pre': 0.4383131863061733, 'rec': 0.936698875..."
2,avg_pre,0.9313838008462874,0.9411432880626317,0.9381233001206724,0.9248851827792492
3,avg_rec,0.8295196134167141,0.8616347826086956,0.8444987315606501,0.8508379888268156
4,avg_spe,0.9484942614455288,0.9369864874703608,0.921502607861412,0.9252073993148494
5,avg_f1,0.8589176939147293,0.8860929076539683,0.8739006235978432,0.8717282649659045
6,avg_geo,0.8858632379856223,0.8981606657532422,0.8817914546412976,0.8866876194587252
7,avg_iba,0.7754170971702993,0.8006140153747316,0.7715686855692748,0.7803679003818054
8,total_support,42216,43125,42572,42960

In [34]:
df

,T11_nofault,T11_fault,T07_nofault,T07_fault,T06_nofault,T06_fault,T01_nofault,T01_fault
pre,0.993977,0.377175,0.992373,0.340888,0.993977,0.377175,0.990007,0.438313
rec,0.853846,0.944775,0.836805,0.929196,0.853846,0.944775,0.839347,0.936699
spe,0.944775,0.853846,0.929196,0.836805,0.944775,0.853846,0.936699,0.839347
f1,0.918598,0.539121,0.907974,0.498789,0.918598,0.539121,0.908473,0.597184
geo,0.898161,0.898161,0.881791,0.881791,0.898161,0.898161,0.886688,0.886688
iba,0.799357,0.814028,0.770372,0.784740,0.799357,0.814028,0.778561,0.793869
sup,39431.000000,3694.000000,39027.000000,3545.000000,39431.000000,3694.000000,37889.000000,5071.000000

In [35]:
df.to_csv("Dataframes/detail_classification.csv")

Feature Importances

* task: pull list of tuples for each turbine into dataframes 
* issue: type is string, not list; need to convert w json? => resolved, used ast
* task: tuples to dict for df => resolved, function convert()

In [27]:
#backup to json loads bcs two columns 
import ast

In [3]:
#index col = 0 to use unique index, rather than push to column 

feature_df = pd.read_csv("Dataframes/feature_importances.csv", index_col=0)

In [4]:
feature_df

                                                     0
T11  [(0.07815082706410378, 'Amb_Temp_Avg'), (0.060...
T06  [(0.047561095386211526, 'Hyd_Oil_Temp_Avg'), (...
T07  [(0.04914526512054112, 'Nac_Direction_Avg'), (...
T01  [(0.05340536763115549, 'Amb_Temp_Avg'), (0.042...

In [7]:
# pull row info and turn into list of tuples 
T11 = (feature_df.iat[0,0])

T11_features = ast.literal_eval(T11)

In [30]:
T06 = (feature_df.iat[1,0])

T06_features = ast.literal_eval(T06)

In [31]:
T07 = (feature_df.iat[2,0])

T07_features = ast.literal_eval(T07)

In [32]:
T01 = (feature_df.iat[3,0])

T01_features = ast.literal_eval(T01)

convert all tuples to dicts for df

In [78]:
def Convert(tup, di):
    for a, b in tup:
        di.setdefault(b, a)
    return di

tups_T11 = T11_features
dict_T11 = {}

tups_T06 = T06_features
dict_T06 = {}

tups_T07 = T07_features
dict_T07 = {}

tups_T01 = T01_features
dict_T01 = {}

Convert(tups_T11, dict_T11)

Convert(tups_T06, dict_T06)

Convert(tups_T07, dict_T07)

Convert(tups_T01, dict_T01)

{'Amb_Temp_Avg': 0.05340536763115549,
 'Nac_Direction_Avg': 0.042867007698833455,
 'Spin_Temp_Avg': 0.04173616214259289,
 'Nac_Temp_Avg': 0.037064070132112596,
 'Hyd_Oil_Temp_Avg': 0.03485587827388294,
 'Cont_Hub_Temp_Avg': 0.033349664267977544,
 'Amb_WindDir_Abs_Avg': 0.03264041743044334,
 'Gen_Bear2_Temp_Avg': 0.027445248344963348,
 'Gen_Bear_Temp_Avg': 0.026830326784645742,
 'Gear_Bear_Temp_Avg': 0.02612463644045962,
 'Cont_VCP_ChokcoilTemp_Avg': 0.02574762975671921,
 'HVTrafo_Phase3_Temp_Avg': 0.025706399691286467,
 'Cont_Top_Temp_Avg': 0.024591547813555704,
 'Gen_SlipRing_Temp_Avg': 0.023820633499562958,
 'HVTrafo_Phase1_Temp_Avg': 0.021228980540961728,
 'Cont_VCP_Temp_Avg': 0.020907942259830434,
 'HVTrafo_Phase2_Temp_Avg': 0.02062909856374785,
 'Gen_Phase3_Temp_Avg': 0.02048396850165517,
 'Gen_Phase2_Temp_Avg': 0.0201751328515792,
 'Gen_Phase1_Temp_Avg': 0.019370054983287477,
 'Gen_RPM_Std': 0.016666081275702484,
 'Gen_RPM_Min': 0.01664355505676632,
 'Amb_WindDir_Relative_Avg': 0.01635080359420922,
 'Gen_RPM_Max': 0.015858552299800398,
 'Grd_Prod_Pwr_Max': 0.015830163570254314,
 'Grd_Busbar_Temp_Avg': 0.015519402703565164,
 'Grd_Prod_VoltPhse3_Avg': 0.015405709400044177,
 'Amb_WindSpeed_Max': 0.014986012278862084,
 'Gen_RPM_Avg': 0.014575368546909967,
 'Grd_Prod_VoltPhse2_Avg': 0.01440150405857321,
 'Grd_RtrInvPhase2_Temp_Avg': 0.013757833656072149,
 'Grd_Prod_VoltPhse1_Avg': 0.01375282429454722,
 'Amb_WindSpeed_Min': 0.013537893613740625,
 'Blds_PitchAngle_Max': 0.012840997472934951,
 'Grd_Prod_CurPhse1_Avg': 0.012770964755276563,
 'Grd_Prod_CurPhse3_Avg': 0.01243033810229965,
 'Gear_Oil_Temp_Avg': 0.012352097918422887,
 'Cont_VCP_WtrTemp_Avg': 0.01220435503445788,
 'Grd_Prod_CurPhse2_Avg': 0.012122013675105965,
 'Prod_LatestAvg_TotActPwr': 0.011329632006252727,
 'Amb_WindSpeed_Std': 0.011316969461528919,
 'Prod_LatestAvg_ActPwrGen1': 0.011173818791769185,
 'Grd_Prod_Pwr_Avg': 0.011138986877486887,
 'Grd_RtrInvPhase3_Temp_Avg': 0.010971602259493942,
 'Amb_WindSpeed_Avg': 0.009550075692773064,
 'Grd_InverterPhase1_Temp_Avg': 0.009340117928840007,
 'Rtr_RPM_Min': 0.009137401365919466,
 'Blds_PitchAngle_Std': 0.00888618491529961,
 'Amb_WindSpeed_Est_Avg': 0.00886630313042564,
 'Rtr_RPM_Max': 0.008779886009327319,
 'Grd_RtrInvPhase1_Temp_Avg': 0.008554115375065797,
 'Blds_PitchAngle_Avg': 0.0083165571559904,
 'Blds_PitchAngle_Min': 0.007186511541902364,
 'Rtr_RPM_Avg': 0.006632931849054814,
 'Rtr_RPM_Std': 0.00646541617976901,
 'Prod_LatestAvg_ReactPwrGen0': 0.0007642808287530304,
 'Prod_LatestAvg_ActPwrGen0': 0.0006025697135493309,
 'Prod_LatestAvg_ReactPwrGen2': 0.0,
 'Prod_LatestAvg_ActPwrGen2': 0.0}

In [81]:
df = pd.DataFrame(data=[dict_T01, dict_T06, dict_T07, dict_T11], index=["T01", "T06", "T07", "T11"])

In [84]:
df

,Amb_Temp_Avg,Nac_Direction_Avg,Spin_Temp_Avg,Nac_Temp_Avg,Hyd_Oil_Temp_Avg,Cont_Hub_Temp_Avg,Amb_WindDir_Abs_Avg,Gen_Bear2_Temp_Avg,Gen_Bear_Temp_Avg,Gear_Bear_Temp_Avg,...,Rtr_RPM_Max,Grd_RtrInvPhase1_Temp_Avg,Blds_PitchAngle_Avg,Blds_PitchAngle_Min,Rtr_RPM_Avg,Rtr_RPM_Std,Prod_LatestAvg_ReactPwrGen0,Prod_LatestAvg_ActPwrGen0,Prod_LatestAvg_ReactPwrGen2,Prod_LatestAvg_ActPwrGen2
T01,0.053405,0.042867,0.041736,0.037064,0.034856,0.033350,0.032640,0.027445,0.026830,0.026125,...,0.008780,0.008554,0.008317,0.007187,0.006633,0.006465,0.000764,0.000603,0.0,0.0
T06,0.040989,0.043904,0.037217,0.031430,0.047561,0.027392,0.030482,0.028022,0.024699,0.026657,...,0.008602,0.008966,0.008301,0.006780,0.006632,0.006290,0.000989,0.000783,0.0,0.0
T07,0.044199,0.049145,0.035985,0.030405,0.038791,0.031166,0.034841,0.026680,0.022161,0.026013,...,0.008409,0.011347,0.008258,0.007076,0.006631,0.006009,0.000767,0.000654,0.0,0.0
T11,0.078151,0.043259,0.060094,0.038428,0.044420,0.048875,0.031268,0.022452,0.019389,0.010081,...,0.007543,0.007676,0.007254,0.006276,0.005567,0.004814,0.001024,0.000829,0.0,0.0

In [85]:
df.to_csv("Dataframes/clean_feature_imp.csv")